<header class="header">
    <nav class="nav" style="display: flex;">
        <div class="nav-item">
            <a href="#">Aktualności</a>
        </div>
        <div class="nav-item" href="#">
            <a href="#">Kontakt</a>
        </div>
        <div class="nav-item" href="#">
            <a href="{{path_for('docs')}}">Dokumentacja</a>
        </div>
    </nav>
</header>
